body {
    margin: 0;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.title-slider {
    margin: 10px 4px 12px 8px;
    font-family: sans-serif;
}

.info-score {
    margin: 8px 0;
    font-family: sans-serif;
    font-variant: small-caps;
}

button:focus {outline:0;}

.btnGame {
    cursor: pointer;
    background-color: rgba(76, 175, 80, 0.7);
    width: 148px;
    height: 48px;
    text-align: center;
    margin: 18px auto;
    padding: 0;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 18px;

    
    /* max-width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6);
    -webkit-tap-highlight-color: rgba(10, 48, 80, 0.22); */
}

.btnGame:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(76, 175, 80, 0.9);
}
.btnGame:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(76, 175, 80, 0.8);
}

#game-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(220, 220, 220, 0.6);
    padding: 10px;
}

#setup-container {
    padding: 8px 20px;
    width: 100%;
}

#game-info {
    margin: 12px 0 20px 30px;
}

#game-setup {
    display: flex;
    flex-direction: column;
}